<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="static/style.css">
<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}

	@media (prefers-color-scheme: dark) {
		body {
			background-color: #0d1117;
		}
	}
</style>

<body class="markdown-body">
	<h1>Welcome to imagecount</h1>
	<p>
		<img src="img?id={{ link }}" alt="badge">
		<br><br>
		This is a project that is intented to add anylictics to any online project.
		Analytics should be as simple as as inserting a badge, so I made it that simple.
		You also get a stargazers-like graph for your visits.
		Try it out now:
	</p>

	<form method="POST">
		<input type="submit" value="New imagecounter">
	</form>
	<br>
	<p>
		Once you have your link, you can configure it with flags.
	</p>
	<p>
		Here are the options:
		You can configure colors with any html/svg color or use the named colors which are listed <a
			href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/named-color">here</a>.
		The default color is teal, but here is how you make it bright red.</p>
	<pre><code class="lang-md">![<span class="hljs-string">badge</span>](<span class="hljs-link">https://imagecount.pythonanywhere.com/img?id=pSS_jCZ_S7JvgYZyuJjZyw&amp;color=bright_red</span>)
</code></pre>
	<p><img src="img?id={{ link }}&amp;color=bright_red&amp;prev=true" alt="badge"></p>
	<p>Also available obtions are <code>style</code> and <code>prev</code>. The available styles are 
		&quot;default&quot; &quot;for-the-badge&quot;, and &quot;gitlab-scoped&quot; which look like this:</p>
	<p><img src="img?id={{ link }}&amp;style=gitlab-scoped&amp;prev=true" alt="badge"></p>
	<p><img src="img?id={{ link }}&amp;style=for-the-badge&amp;prev=true" alt="badge"></p>
	The <p><code>prev</code> option allows you to see what a badge looks like without affecting its count or if you want to fetch
		an image multiple times on a page.</p>
	<p>To view a graph, exchange the img in the url with graph.</p>
	<p><img src="graph?id={{ link }}" alt="graph"></p>

</body>